
html,body{
  color:white;
  font-family:'Opens Sans',helvetica;  
  height:100%;
  width:100%;
  margin: 0px;
}
.cont{
    background-image: url("eneagrama.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment:contain;
  min-width: 100%;
  min-height: 100%;

  display: grid;
  grid-template-columns: 80px 1fr 80px 1fr 80px 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 50px 20px;
  gap: 20px;
}
.citem{
  font-size: 18px;
  font-weight: 900;
 padding: 80px;
 
}

.uno{
animation-name: uno;
animation-duration: 17s;
}

.unot{
  animation-name: uno;
  animation-duration: 10s;
  animation-delay: 3s;
}

.dos{
  animation-name: dos;
  animation-duration: 17s;
  animation-delay: 6s;
}
.dost{
  animation-name: dos;
  animation-duration: 17s;
  animation-delay: 8s;
}

@keyframes uno {
  0% {
    background-color: white;
  }
  100%{
    background-color: violet;
  }
}

@keyframes dos{
  0%{
    background-color:white;
  }
  100%{
    color: blue;
  }
}

